
<div id="wrap">
  <ul id="contacts" class="papercut">
  <!--
    <% for (var i = 0, ii = contacts.length; i < ii; i += 1) { var contact = contacts[i]; %>
      <li class="contact<% if (contact.initiated) { %> ignored<% } %>">
        <h1><%- contact.name %></h1>
        <h2><%- contact.last_contacted %></h2>
      </li>
    <% } %>
  -->
  </ul>
  <div id="options">
    Yo, connect with:
    <% if (!user.facebook) { %>
      <a href="/auth/facebook">Facebook</a>
    <% } %>
  </div>
</div>

<br>

<script type="text/javascript">
  $(document).ready(function() {
    var contacts = <%- JSON.stringify(contacts) %>;

    // TODO: cache these.
    var sort_by = function(field, reverse, primer){
      var key = function (x) {return primer ? primer(x[field]) : x[field]};

      return function (a,b) {
        var A = key(a), B = key(b);
        return ( (A < B) ? -1 : ((A > B) ? 1 : 0) ) * [-1,1][+!!reverse];                  
      }
    };

    function findKeywords() {
      var re = /[A-Za-z](6)/g;
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        var keywords = [];
        var message = contacts[i].last_message.split(' ');
        for (var j = 0, jj = message.length; j < jj; j += 1) {
          var word = message[j];
          if (word.length > 6) {
            keywords.push(word);
          }
        }
        contacts[i].keywords = keywords.length > 0 ? '<span class="keyword">' + keywords.join('</span>, <span class="keyword">') + '</span>' : '';
      }
    };

    function fillContacts() {
      $('#contacts').empty();
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        var contact = contacts[i];
        var el = $('<li></li>');
        el.addClass('contact');
        if (contact.initiated) {
          el.addClass('ignored');
        }

        var starClass = contact.starred ? 'unstar' : 'star';
        var star = $('<div></div>').addClass(starClass).attr('data-id', contact._id);
        el.append(star);

        el.append('<h1>' + contact.name + '</h1>');
        el.append('<h2>Last contacted <span class="time">' + $.timeago(contact.last_contacted) + '</span> via <span class="' + contact.method + '">' + contact.method + '</span></h2>');

        var message = $('<div></div>').addClass('message');
        var person = contact.initiated ? 'You' : contact.name;
        if (contact.keywords) {
          message.html(person + ' last talked about ' + contact.keywords);
        } else {
          message.html(person + ' last sent "' + contact.last_message + '"');
        }
        el.append(message);
        $('#contacts').append(el);

        if (contact.facebook_id) {
          var fbdiv = $('<div></div>').attr('data-fb', contact.facebook_id);
          fbdiv.addClass('send_facebook_message');
          fbdiv.html('Send Facebook message');
          el.append(fbdiv);
        }
      }
    };

    $('#contacts').on('click', '.send_facebook_message', function(ev) {
      var user_id = $(ev.currentTarget).attr('data-fb');
      var url = 'http://www.facebook.com/dialog/send?to=' + user_id;
      url += '&redirect_uri=' + 'http://localhost:9000/dashboard';
      url += '&link=' + 'http://news.ycombinator.com/new';
      url += '&app_id=<%- app_id %>';
      window.location = url;
    });
    $('#contacts').on('click', '.star', function(ev) {
      var _id = $(ev.currentTarget).attr('data-id');
      $(ev.currentTarget).removeClass('star');
      $(ev.currentTarget).addClass('unstar');
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        if (contacts[i]._id === _id) {
          contacts[i].starred = true;
        }
      }
      $.post('/star',
        { contact: _id },
        function(data) {
          console.log(data);
        }
      );
    });
    $('#contacts').on('click', '.unstar', function(ev) {
    console.log('star');
      var _id = $(ev.currentTarget).attr('data-id');
      $(ev.currentTarget).removeClass('unstar');
      $(ev.currentTarget).addClass('star');
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        if (contacts[i]._id === _id) {
          contacts[i].starred = false;
        }
      }
      $.post('/unstar',
        { contact: _id },
        function(data) {
          console.log(data);
        }
      );
    });

    function sortByName(reverse) {
      contacts = contacts.sort(sort_by('name', reverse));
    };
    function sortByTime(reverse) {
      contacts = contacts.sort(sort_by('last_contacted', reverse));
    };

    sortByTime(true);
    findKeywords();
    fillContacts();

    stroll.bind($('#contacts'));
  });
</script>
