html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

body, html {
  font-family: Helvetica, Arial;
  color: #333;
  background-color: #323232;
}

#wrap {
  margin: 0 auto;
  width: 700px;
  position: relative;
  padding-top: 40px;
}

#options {
  float: right;
  width: 20%;
  min-width: 200px;
  background-color: #222;
  color: #ccc;
  padding: 15px;
}

#options a {
  display: block;
  margin: 5px 10px 20px 10px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  background-color: #3B5998;
  border-bottom: 1px solid #253f76;
  border-top: 1px solid #627eba;
  text-shadow: 0px -1px 0px #253f76;
  color: #fff;
}
#options a:hover {
  background-color: #253f76;
}

#options #logout {
  margin: 12px 0 0 0;
  background-color: #ec5d5d;
  border-bottom: 1px solid #c63232;
  text-shadow: 0px -1px 0px #c63232;
  border-top: 1px solid #eb9494;
}
#options #logout:hover {
  background-color: #c63232;
}

#options .name {
  color: #ec5d5d;
  text-shadow: 0 -1px 0 #000;
  font-weight: 600;
}

#buttons {
  margin: 10px 0;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
}

#buttons button {
  background-color: #70AD56;
  border: 0px;
  border-top: 1px solid #aae192;
  color: #d1f2c3;
  text-shadow: 0 -1px 0 #356641;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #356641;
  display: block;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  border-radius: 5px;
}

#buttons #show_starred, #buttons #set_star_time {
  background-color: #FFCC00;
  color: #735C00;
  text-shadow: 0px 1px 0px #FFDF61;
  border-top: 1px solid #FFDF61;
  border-bottom: 1px solid #BF9900;
}

#buttons #show_starred:hover, #buttons #set_star_time:hover {
  background-color: #e8ba00;
}

#buttons button:hover {
  background-color: #57AD32;

}

#buttons input {
  border: 0;
  padding: 5px 0;
  text-align: center;
  background-color: #ccc;
  border-radius: 0 5px 5px 5px;
}

#buttons input:focus {
  background-color: #fff;
  outline: none;
}

#buttons label {
  font-size: 10px;
  text-transform: uppercase;
}

#contacts {
  float: left;
  width: 65%;
  min-width: 300px;
  height: 600px;
  overflow: scroll;
  position: relative;
  border: 15px solid #222;
  border-width: 15px 0;
}

#contacts h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#contacts h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
}

#contacts li {
  padding: 15px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#contacts li:nth-child(odd) {
  background-color: #fff;
}

#contacts li:nth-child(odd) .message {
  background-color: #eee;
}

#contacts .star {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ddd;
  border: 1px solid #ccc;
  float: right;
  cursor: pointer;
}

#contacts .unstar {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid #d7ac00;
  background-color: #FFCC00;
  float: right;
}

#contacts .send_facebook_message {
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  background-color: #3B5998;
  border-bottom: 1px solid #253f76;
  border-top: 1px solid #627eba;
  text-shadow: 0px -1px 0px #253f76;
  color: #fff;
  cursor: pointer;
}

#contacts .send_facebook_message:hover {
  background-color: #253f76;
}

.facebook {
  font-weight: 600;
  color: #3B5998;
}

.keyword {
  display: inline-block;
  padding: 2px 3px;
  border-radius: 2px;
  font-size: 10px;
  background-color: #FFCC00;
  color: #735C00;
  text-shadow: 0px 1px 0px #FFDF61;
  border-top: 1px solid #FFDF61;
  border-bottom: 1px solid #BF9900;
}

.message {
  border-radius: 5px;
  font-weight: 300;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.time {
  font-weight: 600;
}

#contacts .ignored {
  border-left: 3px solid #ec5d5d;
}
